.vs/*
.vscode/*
/release/*
/build*/
/dll/net.pb.cc
/dll/net.pb.h
/out/*
/vcpkg_installed/*

/base.exp
/base.lib
/rtlgenrandom*
/steamclient.exp
/steamclient.lib
/*.bin
/*.o
/*.obj

!/build_*.bat
!/build_*.sh
